.players-selection__option-container {
    width: 200px;
    height: 40px;
    cursor: pointer;
}

.players-selection__option-container:first-child {
    padding-bottom: 7px;
}

.players-selection__option-container:nth-child(2) {
    padding-top: 7px;
}

.players-selection:hover > .players-selection__option-container:not(:hover) {
    opacity: .5;
}

.players-selection__option-container:hover {
    opacity: 1;
    transform: scale(1.1);;
}