.cross_type_fourth {
  width: 45%;
  height: 40%;
  grid-area: cross4;
  align-self: start;
  justify-self: start;
  animation: rotate 20s linear infinite;
  background-image: url(../../../assets/game/cross-fourth.svg);
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 700px) {
  .cross_type_fourth {
    display: none;
  }
}
