.cross_type_third {
  width: 45%;
  height: 40%;
  grid-area: cross3;
  align-self: start;
  justify-self: start;
  animation: rotate 20s linear infinite;
  background-image: url(../../../images/cross-third.svg);
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 700px) {
  .cross_type_third {
    display: none;
  }
}
