.cross_type_second {
    width: 135px;
    height: 135px;
    grid-area: cross2;
    align-self: start;
    justify-self: start;
    animation: rotate 20s linear infinite;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}