.cross_type_first {
    width: 50px;
    height: 50px;
    background-image: url(../../../images/cross-first.svg);
    grid-area: cross1;
    align-self: start;
    justify-self: start;
    animation: rotate 20s linear infinite;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}