.shape-selection__option {
  display: block;
  flex: 0 0 40%;
  min-height: 130px;
  aspect-ratio: 1 / 1;
  box-sizing: border-box;
  padding: 0;
  transition:
    opacity 0.2s ease,
    scale 0.2s ease;
  cursor: pointer;
  border-style: none;
  background-color: transparent;
}

@media (max-width: 500px) {
  .shape-selection__option {
    min-height: 90px;
  }
}
