.home-btn {
    width: 60px;
    height: 60px;
    background-color: #CFE0F3;
    background-image: url(../../images/home.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    border-radius: 10px;
    border-style: none;
    padding: 0;
    transition: opacity .2s ease;
    cursor: pointer;
    align-self: flex-start;
    /* margin: 70px 70px 50px; */
}

.home-btn:hover {
    opacity: .7;
}