.game__main-unit {
  display: flex;
  align-items: center;
  padding-top: 15vh;
}

@media (max-width: 600px) {
  .game__main-unit {
    width: 45vw;
    justify-content: space-between;
    margin-bottom: 30px;
    padding: 0;
  }
}

@media (max-width: 600px) {
  .game__main-unit {
    width: 55vw;
  }
}
