.board {
    display: grid;
    /* gap: 2px; */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: #CFE0F3;
    width: 360px;
    height: 360px;
    /* margin: 50px; */
    animation-name: drow-board;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    border-radius: 30px;
    overflow: hidden;
}