.board {
  display: grid;
  /* gap: 2px; */
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background-color: #cfe0f3;
  width: 360px;
  height: 360px;
  /* margin: 50px; */
  animation-name: drow-board;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  border-radius: 30px;
  overflow: hidden;
}

@media (max-width: 1280px) {
  .board {
    width: calc(30vw - 20px);
    height: calc(30vw - 20px);
  }
}

@media (max-width: 600px) {
  .board {
    width: calc(55vw - 20px);
    height: calc(55vw - 20px);
  }
}

@media (max-width: 400px) {
  .board {
    width: calc(80vw - 20px);
    height: calc(80vw - 20px);
  }
}
