.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15vh;
  box-sizing: border-box;
}

@media (max-height: 800px) {
  .game {
    height: 80vh;
    padding: 30px 0 0;
  }
}

@media (max-width: 600px) {
  .game {
    justify-content: center;
  }
}
