.game {
  display: grid;
  grid-template-columns: 180px auto 180px;
  grid-template-areas:
    "player1 board player2"
    ". status ."
    ". menu .";
  align-items: center;
}

@media (max-width: 768px) {
  .game {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "player1 player2"
      "board board"
      "status status"
      "menu menu";
  }
}
