.game__play-again-btn {
  margin: 35px;
  width: 120px;
  height: 40px;
  border-radius: 7px;
  border-style: none;
  background-color: #cfe0f3;
  transition: opacity 0.2s ease;
  cursor: pointer;
}

.game__play-again-btn:hover {
  opacity: 0.7;
}
