.settings__icon {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 70%;
    height: 50%;
    /* color: #fff;
    font-size: 150px;
    text-align: center; */
    /* transition: transform .1s linear .1s;  */
}

/* .settings__icon:hover {
    transform: scale(1.2);
} */