.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 160px;
    background-color: #36324C;
    border-radius: 30px;
    position: relative;
    opacity: .5;
}