.game__btn-tooltip {
  transition: opacity 0.4s ease-in;
  opacity: 0;
  color: #0f1111;
  position: absolute;
  top: 75px;
  left: 15px;
  width: max-content;
  height: 30px;
  padding: 6px;
  z-index: 2;
  background-color: #f7f6c5;
  box-sizing: border-box;
}

.game__btn-container:hover .game__btn-tooltip {
  opacity: 1;
}
