.zero_type_first {
  width: 45%;
  height: 40%;
  grid-area: zero1;
  align-self: start;
  justify-self: start;
  animation: scale 2s ease infinite;
  background-image: url(../../../images/zero-first.svg);
}

@keyframes scale {
  from {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}

@media (max-width: 700px) {
  .zero_type_first {
    display: none;
  }
}
