.zero_type_third {
  width: 45%;
  height: 40%;
  grid-area: zero3;
  align-self: end;
  justify-self: start;
  animation: scale 2s ease infinite;
  background-image: url(../../../assets/game/zero-third.svg);
}

@keyframes scale {
  from {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}

@media (max-width: 700px) {
  .zero_type_third {
    display: none;
  }
}
